<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
  body
    p 這是一段 PUG 測試文字
    h1 這是一個 PUG 生成的模板
    h3 這是直接HTML插入
    img(src="../image/nathan-dumlao-1555008-unsplash.jpg",width="300px" alt="", srcset="")
    h3 這是透過SCSS插入圖片
    .bg